[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabula-py = "==1.2.0"
reportlab = "==3.4.0"
pandas = "==0.22.0"
"pypdf2" = "==1.26.0"

[dev-packages]

[requires]
python_version = "2.7"
