[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycairo = "*"
pygobject = "*"
pypdf2 = "*"
tabula-py = "*"
reportlab = "*"
pandas = "*"

[requires]
python_version = "3.7"
